.section__4 {
  // padding-top: 250px;
  // padding-bottom: 640px;
  .img__4 {
    position: relative;
    margin-top: -38px;
    width: 566px;
    height: 324px;
    left: 50%;
    margin-left: -283px;
    z-index: 1;
    background-size: contain;

    @include resolution2xImg((
      img1xPath: '../images/features/small/1x/04_cooling.jpg',
      img2xPath: '../images/features/small/2x/04_cooling.jpg'
    )...);

    span {
      position: absolute;
      z-index: 10;
      font-size: 16px;
      color: #fff;
      left: 50%;


      &.text-info-1 {
        top: 528px;
        margin-left: -520px;
      }

      &.text-info-2 {
        top: 618px;
        margin-left: -533px;
      }

      &.text-info-3 {
        top: 717px;
        margin-left: -516px;
      }
    }
  }

  .img__04_fan {
    margin-top: -50px;
    width: 720px;
    height: 250px;
    left: 50%;
    margin-left: -360px;
    z-index: 1;

    @include resolution2xImg((
      img1xPath: '../images/features/small/1x/04_fan.jpg',
      img2xPath: '../images/features/small/2x/04_fan.jpg'
    )...);
    // background-image: url('../images/features/large/2x/04_fan.jpg');
    background-size: contain;
  }

    .wd__feature__list{
      width: 100%;
      text-align: center;
      .wd__feature{
        min-width: 171px;
        .wd__feature__data{
          .space-left-m{
          }
          figure{
          }
          .img-icon{
            width: 104px;
            height: 36px;
          }
        }
      }
  }

}