* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './mixin/sectionBase';
@import './mixin/wdFeatureList';

#ASUS-features {
  @import './pages/large/section__1';
  @import './pages/large/section__2';
  @import './pages/large/section__3';
  @import './pages/large/section__4';
  @import './pages/large/section__5';
}