@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './mixin/img2x';
@import './mixin/sectionBase';
@import './mixin/wdFeatureList';

#ASUS-features {
  @import './pages/large/section__1';
  @import './pages/large/section__2';
  @import './pages/large/section__3';
  @import './pages/large/section__4';
  @import './pages/large/section__5';

  @media all and (min-width: 721px) and (max-width: 1300px) {
    @import './pages/medium/base';
    @import './pages/medium/section__1';
    @import './pages/medium/section__2';

  }

  @media all and (min-width: 0px) and (max-width: 720px) {
    @import './pages/small/base';
    @import './pages/small/section__1';
    @import './pages/small/section__2';
    @import './pages/small/section__3';
    @import './pages/small/section__4';
    @import './pages/small/section__5';
  }

}