.section__4 {
  padding-top: 250px;
  // padding-bottom: 640px;
  .img__4 {
    margin-top: -310px;
    width: 100%;
    max-width: 2560px;
    height: 1284px;
    left: 0;
    z-index: 1;
    background-image: url('../images/features/large/2x/04_cooling.jpg');
    background-size: contain;
  }

  .img__04_fan {
    margin-top: -110px;
    width: 100%;
    max-width: 2560px;
    height: 1120px;
    left: 0;
    z-index: 1;
    background-image: url('../images/features/large/2x/04_fan.jpg');
    background-size: contain;
  }

    .wd__feature__list{
      width: 1090px;
      .wd__feature{
        min-width: 171px;
        .wd__feature__data{
          .space-left-m{
          }
          figure{
          }
          .img-icon{
            width: 104px;
            height: 36px;
          }
        }
      }
  }

}