- var words = self.htmlWebpackPlugin.options.data;//丟index.json裡的全部資料
include pug/_base.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ROG Phone | Phone | ASUS Global
    link(href="https://fonts.googleapis.com/css?family=Roboto|Russo+One|Saira:500|Teko&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" rel="stylesheet" type="text/css")
  body
    //- //丟index.json裡的topper進去
    //- +addTopper(words.topper)(class="top" id="ddd")
    //-   figure.img_bg
    //- +addFooter(words.footer)

    - var $i;

    #ASUS-features
      // 外層
      .outer-view
        +addSection()
          +wdImages()
          +wdContent(words.s1, 'center', 'kv')
            +wdFeatureList(words.s1.featureList)
        
        - $i = '2';
        +addSection($i)
          +wdContent(words.s2)
            +wdFeatureList(words.s2.featureList)
          +wdImages($i)

        - $i = '3';
        +addSection($i)
          +wdContent(words.s3)
            +wdFeatureList(words.s3.featureList)
          +wdImages($i)

        - $i = '4';
        +addSection($i)
          +wdImages($i)
            span.text-info.text-info-1!= 'Carbon cooling pad'
            span.text-info.text-info-2!= 'Copper heat spreader'
            span.text-info.text-info-3!= '3D vapor-chamber'
          +wdContent(words.s4, 'right' ,'04')
            +wdFeatureList(words.s4.featureList)
          +wdImages('04_fan')

        - $i = '5';
        +addSection($i)
          +wdContent(words.s5)
            +wdFeatureList(words.s5.featureList)
          +wdImages($i)


      // 內層
      .inner-view