.section__5 {
  padding-top: 0;
  margin-top: -276px;
  .wd-content {
    .text-right{
      text-align: center;
    }

    .content-slogan{
      width: 100%;
      text-align: center;
    }
    .content-title{
      width: 100%;
      text-align: center;
    }
    
    .content-info {
      width: 88%;
      max-width: 960px;
      text-align: center;
    }
  }
  .img__5 {
    margin-top: -310px;
    width: 2560px;
    height: 1284px;
    left: 50%;
    margin-left: -1280px;
    z-index: 1;
    background-image: url('../images/features/large/2x/05_display.jpg');
  }



    .wd__feature__list{
      width: 100%;
      .wd__feature{
        min-width: 171px;
        .wd__feature__data{
          figure{
          }
          .img-icon{
            width: 104px;
            height: 36px;
          }
        }
      }

      
  }

.wd__feature.feature-11 .wd__feature__data figure.img img.img-icon{
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 352px;
  height: 74px;
}


}