.section__4 {
  // padding-top: 250px;
  // padding-bottom: 640px;

  .wd-content {
    .text-right{
      text-align: center;
    }

    .content-slogan{
      width: 100%;
      text-align: center;
    }
    .content-title{
      width: 100%;
      text-align: center;
    }
    
    .content-info {
      width: 86%;
      max-width: 960px;
      text-align: center;
    }
  }
  .img__4 {
    position: relative;
    margin-top: 0px;
    width: 912px;
    height: 450px;
    left: 50%;
    margin-left: -456px;
    z-index: 1;
    background-image: url('../images/features/large/2x/04_cooling.jpg');
    background-size: contain;

    span {
      position: absolute;
      z-index: 10;
      font-size: 16px;
      color: #fff;
      left: 50%;


      &.text-info-1 {
        top: 166px;
        margin-left: -317px;
      }

      &.text-info-2 {
        top: 210px;
        margin-left: -326px;
      }

      &.text-info-3 {
        top: 254px;
        margin-left: -309px;
      }
    }
  }

  .img__04_fan {
    margin-top: -361px;
    width: 100%;
    max-width: 2560px;
    height: 1120px;
    left: 0;
    z-index: 1;
    background-image: url('../images/features/large/2x/04_fan.jpg');
    background-size: contain;
  }

    .wd__feature__list{
      width: 90%;
      text-align: center;
      .wd__feature{
        min-width: 171px;
        .wd__feature__data{
          .space-left-m{
          }
          figure{
          }
          .img-icon{
            width: 104px;
            height: 36px;
          }
        }
      }
  }

}
